
<%= form_with(model: label,local: true) do |f| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= label.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% label.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div clrailsass='form'>
    <%= f.label :title, "ラベルのタイトル" %>
    <%= f.text_field :title, class:'form-control' %>
  </div>

  <%= f.submit 'ラベルを登録',class:'btn btn-primary btn-lg' %>
<% end %>