<h1>登録済みのユーザー</h1>

<table class="table">

  <thead>
    <tr>id</tr>
    <tr>名前</tr>
    <tr>メールアドレス</tr>
    <tr>登録日</tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <% if user.admin %>
          <td>管理者権限<strong>あり</strong></td>
        <% else %>
          <td>管理者権限なし</td>
        <% end %>
        <td><p>タスク数：<%= user.tasks.count %></p></td>
        <td><%= link_to '確認', administrator_user_path(user.id), class: "btn btn-info" %></td>
        <td><%= link_to '編集', edit_administrator_user_path(user.id), class: "btn btn-info" %></td>
        <td><%= link_to '削除', administrator_user_path(user.id) , class: "btn btn-danger", method: :delete, data: { confirm: '削除してもいいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>